/* Снизу есть @media для того, чтобы подбирать адаптивность вручную */

body{
    background-color: hsl(0,0%,90%);
}

.links{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
.links:hover{
    color: rgb(255,197,58);
}

.no-button{
    outline: none;
    border: none;
    background-color: transparent;
  }
.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageText {
    font-size: 30px;
    margin: auto 0 0 0;
    font-weight: bold;
}

.page{
    display: flex;
    justify-content: space-between;
}

.length{
    width: 60%;
    
}

.text{
    font-size: 18px;
    margin: 5px;
}

.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 45px;
    font-size: 15px; font-weight: 600;
    white-space: nowrap;
}
.two-choice{
    width: 100%;
}

.active-notactive{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.imageBlock{
    height: 185px; 
    width: 255px; 
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.post{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
}

.posts{
    
    width: 62%;
}

.product-price{
    /* vertical-align:middle; */
    font-size: 20px;
    height: 3.4vh;
    font-weight: bold;
}

.buttons{
    border-radius: 5px;
    border: 2px solid rgb(255,197,58);
    padding: 0px 20px;
    transition: 0.3s;
}
.buttons:hover{
    background-color: rgb(255,197,58);
    color: white;
}

.search-input{
    border: 1px solid lightgray;
    border-radius: 40px;
    height: 50px;
}

.dates{

}

.somebuttons{
    display: flex;
}

.like-buttons{

}

.text-dissapear{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.two-choice{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* d-flex justify-content-between w-50 */
}

/* .posts a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.tagA{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
}

.mainImageBlock{}

.productTextBlock{
    width: 80%;
}


/*  

ul {
    margin: 0 auto;                 
    width: 1200px;
    padding-left: 0;                 
    font-size: 0;                    
                                        
}

li {
  
    display: inline-block;
    font-size: 18px;                 
    list-style-type: none;
    width: 205px;
    height: 430px;
    line-height: 50px;
    margin: 15px 25px;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (max-width: 430px) { ul { width: 200px; } }
@media screen and (min-width: 431px) and (max-width: 630px) { ul { width: 400px; } }
@media screen and (min-width: 631px) and (max-width: 830px) { ul { width:600px;  } }
@media screen and (min-width: 831px) and (max-width: 1030px) { ul { width: 800px; } }
@media screen and (min-width: 1031px) and (max-width: 1230px) { ul { width: 1000px; } }


*/



@media only screen and (max-width:1200px) {
    .dates, .like-buttons{
        flex-direction: column;
    }
    .somebuttons{
        margin-top: 10px;
    }
    .imageBlock{
        height: 225px; 
        width: 250px;
        /* width: 255px; 
        background-size: cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; */
    }
   
}

@media only screen and (max-width:992px) {
    .page{
        /* display: none; */
        width: 100%;
    }
    .length{
        width: 90%;
    }

    .post{

        margin: 15px 5px;
        flex-direction: column;
        width: 205px;
        height: autp;
    }
    .adaptive-text-block{
        width: 100px;
    }
    
    .imageBlock{
        height: 185px; 
        width: 205px; 
        background-size: cover;
        background-position: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    .somebuttons{
        flex-direction: column;
    }
    .text-dissapear{
        display: none;
    }

    .buttons{
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 2px solid rgb(255,197,58);
        padding: 0px;
        margin-bottom: 4px;
        
    }
    .posts{
        width: 860px;
        /* box-sizing:content; */
        display: flex;
        justify-content: flex-start;
        flex-wrap:wrap;
        /* margin: 0 auto; */
    }
    
    
}

@media only screen and (max-width:873px) {
    .posts{
        width: 645px;
        /* box-sizing:content; */
       
    }
}

@media only screen and (max-width:768px) {
    .two-choice{
        width: 80%;
    }
}
@media only screen and (max-width:672px) {
    .posts{
        width: 430px;
        
       
    }
}
@media only screen and (max-width:480px) {
    .choose{
        padding: 10px 15px;

    }
}

@media only screen and (max-width:430px) {
    .posts{
        width: 100%;
        justify-content: center;
    }
    .somebuttons{
        flex-direction: column;
    }
    
    .post{
        width: 90%;
    }
    
    .tagA{
        width: 80%;
    }
    .mainImageBlock{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .imageBlock{
        margin-top: 10px;
        width: 90%;
        height: 250px;
        border-radius: 10px;
    }
    .productTextBlock{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

   
    /* .post{
        justify-content: center;
    } */
   
}
