.no-button{
    outline: none;
    border: none;
    background-color: transparent;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headline{
    margin: 20px 0px;
}

.width-block{
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.inputs{
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(243,243,243);
}

.zagolovki{
    font-size: 20px; 
    font-weight: 400; 
    margin-top: 10px;
    margin-bottom: 0px;
}

.main-form{
    padding: 30px;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px 12px rgba(34, 60, 80, 0.2);
    
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    border-radius: 10px;

}

.text-down{
    display: flex; 
    justify-content: center; 
    align-items: end;
    white-space: nowrap;
}
::-webkit-file-upload-button {
    display: none;
 }
 
.gallery{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.displayNone{
  display: none;
}

.displayUnset{
  display: unset;
}

.photo{
    margin: 5px;
    width: 141px;
    height: 107px;
    background-image: url(./img/nophoto.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.photoChoosen{
  height: 150px;
  width: 150px;
  /* background-image: url(./img/alieneatingpizza.jpg); */
  background-size: cover;

}

.btn {
    white-space: nowrap;
    /* height: 40px;
    width: 100px;
    background-color: transparent;
    border: 2px solid #ffc53a ;
    border-radius: 10px;
    color: dark; */
 
  }

  .btnClear {
    white-space: nowrap;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 3px solid #ffc53a ;
    border-radius: 10px;
    color: dark;
    transition: 0.2s;
    margin-left: 5px;
  }

  .btnClear:hover{
    background-color: #ffc53a;
    color: white;
  }

  .text-area{
    font-size: 14px;
    padding: 10px;
    width: 60%;
    height: 200px;
    background-color: rgb(243,243,243);
    border-radius: 10px;
  }

  .twobuttons{
    margin: 10px;
    width: 200px;
    height: 50px;
    color: black;
    border: 3px solid  #ffc53a;
    border-radius: 10px;
  }

  .littleText{
    color: gray;
    font-size: 12px;
  }

  
  .lng-example{
    background-color: rgb(243,243,243);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 60%;
  }

  .bigBoxForImages {
    margin-top: 20px;
    width: 60%;
    height: 14em;
  }
 
  .containerForAllImages {
    /* height: 100%; */
    /* display: grid; */
    width: 100%;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
  }
  .containerForAllImages div {
    /* border: none; */
    border-radius: 10px;
    /* background-color: #f3f3f3; */
    display: flex;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
  }

  .imageBox {
    position: relative;
    border: 2px solid lightgray;
  }

  .advice {
    height: 65%;
    /* height: auto !important; */
    background-color: #ffe8e8;
    border-radius: 10px;
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
    padding: 10px 15px;
    border: 1px solid #2f223a5d;
  }

  .imageOfUserChoose {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
  }

  .imageOfUser {
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }

  .backColor.active {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block !important;
    z-index: 0.5;
    background-color: black !important;
    opacity: 0.4;
  }
  .backColor {
    display: none;
  }
  .file {
    width: 100%;
    height: 100%;
    /* width: ;
      height: 100%;
      background-color: #2F223aa9;
      */
    z-index: 1;
    opacity: 0;
  }



@media only screen and (max-width:1400px) {
    .gallery{
        width: 90%;
    }
    
}

@media only screen and (max-width:1015px) {  
    .gallery{
        width: 100%;
    }
    .text-area{
        padding: 10px;
        width: 80%;
      
    }
   
    
}

@media only screen and (max-width:768px) {
   .gallery{
    width: 100%;
   }
   .text-area{
    padding: 10px;
    width: 90%;
    }
    .twobuttons{
        width: 150px;
        white-space: nowrap;
        margin: 5px;
        font-size: 12px;
    }
    .buttonsBlock{
        width: 50%;
    }
}

@media only screen and (max-width:557px) {
   .photo{
    width: 111px;
    height: 87px;
   }
   .buttonsBlock{
    width: 80%;
   }
   .twobuttons{
    width: 100px;
    font-size: 12px;
    white-space: pre-wrap;
   }
   .main-form{
        width: 95%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    }

}

@media only screen and (max-width:436px) {
    .photo{
        width: 81px;
        height: 67px;
       }
       .twobuttons{
        width: 100%;
        justify-content: center;
       }
       .twoButtonsBlock{
        justify-content: center;
       }
}


@media only screen and (max-width:347px) {
    .photo{
        width: 71px;
        height: 57px;
       }
}