.inputAreaI {
    width: 100%;
    height: 100%;
  }
  .inputAreaI input {
    color: #6d6b6ba6;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
  
    padding: 20px;
  }

.innerMain {
    width: 90%;
}

.mainImage {
    display: flex;
}
.mainImage {
    overflow: hidden;
    border-radius: 10px !important;
    display: flex;
    justify-content: space-between;
}

.mainImage .innerDiv {
    display: flex;
}
.mainImage .mainImgDiv {
    display: flex;
    object-fit: scale-down;
}
.controlBtn span {
    margin: auto;
    color: #ffc53a;
    font-size: xx-large;
}

.mainImageAndInfo .mainImage {
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
    background-color: #fff;
}

.mainInfo {
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    border-radius: 5px;
}

.mainInfo .miniProfile {
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 5px;
}

.writeWhats {
    margin-top: 30px;
    border: 3px solid #ffc53a;
}
.cost {
    color: #2f323a;
    font-size: 1.8rem;
    font-weight: bolder;
}

.writeWhats a {
    text-decoration: none;
    color: black;
}

.writeUser, .writeWhats {
    width: 90%;
    height: 40px;
    margin: 10px 0;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderCon {
    display: flex;
    max-width: 90%;
    overflow-x: scroll;
}

.subImages {
    height: auto;
    align-items: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.subImages .imgBox {
    height: 100px;
    min-width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.imgBox {
    display: flex;
}
.description {
    min-height: 10em;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: block;
}

.MsgAndAdvice {
    margin-top: 15px;
    height: auto;
    width: 100%;
}

.MsgAndAdvice .sendMsg {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
}

.firstL {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    /* padding-left: 30px; */
}

.firstL .miniProfile {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 5px;
    margin-right: 40px;
}

.sendMsg textarea {
    font-size: large;
    outline: none;
    border-radius: 10px;
    padding: 15px 20px;
    resize: none;
    width: 95%;
    height: 10em;
    background-color: #f3f3f3;
    border: none;
    vertical-align: top;
}
.advice {
    display: block;
    padding: 10px 15px 10px;
}
.advice div {
    font-size: 0.9rem;
    margin-top: 10px;
}

.MsgAndAdvice .sendMsg {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
}

.MsgAndAdvice .advice {
    height: 65%;
    /* height: auto !important; */
    background-color: #ffe8e8;
    border-radius: 10px;
    box-shadow: 4px 4px 18px 4px rgba(34, 60, 80, 0.2);
    border: 1px solid #2f223a5d;
}

.mainBodyContent > div {
    padding-left: 10%;
    margin-bottom: 5px;
}

.slider {
    width: auto;
    min-width: 100%;
    /* align-items: center; */
    overflow: hidden;
}

.slider .contentBox {
    margin-right: 4%;
    margin-left: 1%;
}

.contentBox {
    z-index: 1;
    height: 300px;
    background-color: #f4f4f7;
    overflow: hidden;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    display: block;
}
.forImgContent {
    top: 0;
    width: 100%;
    position: relative;
    height: 57%;
    margin-top: 7%;
    padding: 0 !important;
}

.forImgContent img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.contentBox a {
    text-decoration: none;
    color: black;
}

.titleContent {
    height: 13%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95em;
    display: block;
    color: #1969be !important;
}

.contentBox div:not(.top) {
    text-align: left;
    padding-left: 7px;
}

.lastL {
    height: 100px;
    display: flex;
    width: 95%;
}

.sendToUser {
    width: 40%;
    font-size: 1rem;
    background-color: #ffc53a;
    color: #fff;
    border: none;
    padding: 3px 10px;
    margin: auto;
    border-radius: 7px;
}

.sendToUserWhats {
    width: 40%;
    font-size: 1rem;
    background-color: #fff;
    border: 2px solid #ffc53a;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.buttonSame {
    height: 100%;
    width: 10%;
    display: flex;
    margin-right: 20px;
}

.buttonSame button {
    border: 3px solid #2f323a;
    height: 80%;
    margin: auto;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 20px;
}

button:hover {
    cursor: pointer !important;
}

.areaForTextSame {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

.mainBodyContent .mainText {
    font-size: x-large;
    color: #2f323a;
    font-weight: bolder;
}

.fa-solid, .fas {
    font-weight: 900;
}
.mainBodyContent > div {
    padding-left: 10%;
    margin-bottom: 5px;
}

.mainBodyContent .subTextData {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
}

.prevLine {
    display: flex;
    align-items: center;
    height: 30px;
    width: 10%;
}

.prevLine .fa {
    color: #ffc53a !important;
    margin-left: 15px;
    font-size: xx-large;
}

.prevLine span {
    white-space: nowrap;
    font-size: larger;
    color: #2f323a;
    margin-right: 10px;
    cursor: pointer;
}

.paymentSec .lineForButton {
    margin-top: 20px;
  }
  
  .lineForButton {
    width: 55%;
    height: 50px;
    margin: 0 auto;
  }
  
  .arrowForPages {
    display: flex;
    align-items: center;
    width: auto;
  }
  
  .fa-solid, .fas {
    font-weight: 900;
  }
  
  .spanWithNumber {
    font-size: 1.5em;
    margin: 0 10px;
  }
  
  .myProfileInner {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  
  .box {
    margin-top: 30px !important;
    height: auto !important;
    padding-bottom: 20px;
  }
  
  .box div.inner {
    padding-left: 30px;
}

  .myProfileInner .box {
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .box .mainTitle {
    padding: 20px 25px;
    font-size: 20px;
    color: #2f323a;
  }

  .myProfileInner .rInfo {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f3f3f3;
    outline: none;
    border: 1px solid #b1b0b0;
    border-radius: 2px;
}

.imageBoxProfile {
    width: 100px !important;
    height: 100px;
    border: 1px solid #b1b0b0;
    border-radius: 10px;
    background-color: #f3f3f3;
    display: flex;
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0px 8px 8px 0px rgba(0,0,0,0.2); */
}

button:hover {
    cursor: pointer !important;
}

.saveLine button, .changeProfile, .confirmButtonLine button {
    padding: 10px 30px;
    border: none;
    background-color: #ffc53a;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
}

.spanWithInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media only screen and (max-width:500px) {
    .changeProfile {
           width: 150px;
     }
 }

 .textF {
    cursor: pointer;
    font-size: 24px;
    color: #ffc53a;
}